﻿@model projeto.pedido.Models.View.Base.BaseViewModel<projeto.pedido.Models.Entities.ClientEntity>

@{
    ViewData["Title"] = "Cliente";
}

<div class="modal-content">
    <div class="modal-header">
        @if (Model.Entity.Id == -1)
        {
            <h5 class="modal-title" id="largeModalLabel">Novo Cliente</h5>
        }
        else
        {
            <h5 class="modal-title" id="largeModalLabel">Cliente: @Model.Entity.Name</h5>
        }
    </div>

    <form id="entity-form" method="post" role="form">
        <div class="modal-body">
            <input type="text" id="entityId" value="@Model.Entity.Id" hidden="true"/>

            <div >
                <label style="margin-right: 18px">Nome:</label>
                <input type="text" id="name" asp-for="Entity.Name"/>
            </div>

            <div>
                <label>Telefone:</label>
                <input type="text" id="phone" asp-for="Entity.Phone"/>
            </div>
        </div>

        <div class="modal-footer">
            <a id="btnBack" class="btn btn-secondary btn-rounded" href="@Url.Action("Table")">Voltar</a>
            <button type="submit" id="btnSave" class="btn btn-primary btn-rounded">Salvar</button>
        </div>

    </form>

</div>

@section Scripts
{
    <script type="text/javascript">

        jQuery(document).ready(function($) {

            $('#entity-form').submit(function() {

                $("#btnSave").prop("disabled", true);

                var name = $('#name').val();
                if (name === '') {
                    alert("É necessário preencher o nome.");
                    $("#btnSave").prop("disabled", false);
                    return false;
                }

                var phone = $('#phone').val();
                if (phone === '') {
                    alert("É necessário preencher o telefone.");
                    $("#btnSave").prop("disabled", false);
                    return false;
                }

                var form = {
                    'id': $('#entityId').val(),
                    'name': $('#name').val(),
                    'phone': $('#phone').val()
                };

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Action")',
                    data: {
                        'model': form
                    },
                    success: function(data) {
                        if (data.error) {
                            alert("Erro! - " + data.message);
                            $("#btnSave").prop("disabled", false);
                        } else {
                            alert("Sucesso! - " + data.message);
                            $(location).attr('href','@Url.Action("Table")');
                        }

                    },
                    error: function(data) {
                        alert("Houve um erro.");
                        $("#btnSave").prop("disabled", false);
                    },
                    dataType: "json"
                });

                return false;
            });
        });

    </script>
}