﻿@model projeto.pedido.Models.View.OrderViewModel

@{
    ViewData["Title"] = "Pedido";
}

<div class="modal-content">
    <div class="modal-header">
        @if (Model.Entity.Id == -1)
        {
            <h5 class="modal-title" id="largeModalLabel">Novo Pedido</h5>
        }
        else
        {
            <h5 class="modal-title" id="largeModalLabel">Pedido: @Model.Entity.Id</h5>
        }
    </div>

    <form id="entity-form" method="post" role="form">
        <div class="modal-body">
            <input type="text" id="entityId" value="@Model.Entity.Id" hidden="true"/>

            <div>
                <label>Cliente:</label>
                <select type="text" asp-for="Entity.Client.Id" id="selectClientId" asp-items="@(new SelectList(Model.ClientList, "Id", "Name"))" class="standardSelect form-drop form-control"></select>
                <label>Produto:</label>
                <select type="text" asp-for="Entity.Product.Id" id="selectProductId" asp-items="@(new SelectList(Model.ProductList, "Id", "Name"))" class="standardSelect form-drop form-control"></select>
                <div >
                    <label>Valor:</label>
                    <input type="text" id="totalValue" class="form-control input-currency" asp-for="Entity.TotalValue"/>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <a id="btnBack" class="btn btn-secondary btn-rounded"  href="@Url.Action("Table")">Voltar</a>
            <button type="submit" id="btnSave" class="btn btn-primary btn-rounded">Salvar</button>
        </div>

    </form>

</div>

@section Scripts
{
    <script type="text/javascript">

        jQuery(document).ready(function($) {

            function getValue(ref) {
                var valueText = jQuery(ref).val();
                valueText = valueText.replace(/\./g, "");
                valueText = valueText.replace(",", ".");
                valueText = valueText.replace("R$ ", "");
                var value = parseFloat(valueText);
                return parseInt(value * 100);
            }; 

            function UpdateMoneyMask(ref) {
                jQuery(ref).maskMoney({
                    prefix: "R$ ",
                    decimal: ",",
                    thousands: ".",
                    allowZero: true,
                    affixesStay: false
                });
            };

            function checkDecimal(ref) {
                var text = jQuery(ref).val();
                if (text.indexOf(".") !== -1) {
                    var decimal = text.split(".")[1];
                    if (decimal.length === 1) {
                        text += "0";
                    }
                    text = text.replace(".", "");
                    text = text.replace(/\,/g, "");
                } else {
                    text = getValue(ref);
                }
                jQuery(ref).val(text);
            }

            function ApplyMaskMoney(ref) {
                jQuery(ref).maskMoney('mask')
            };

            checkDecimal("#totalValue");
            UpdateMoneyMask(".input-currency");
            ApplyMaskMoney(".input-currency");

            $('#entity-form').submit(function() {

                $("#btnSave").prop("disabled", true);

                var clientId = $('#selectClientId').val();
                if (clientId === 0 || clientId === null || clientId === '') {
                    alert("É necessário selecionar um cliente.");
                    $("#btnSave").prop("disabled", false);
                    return false;
                }

                var productId = $('#selectProductId').val();
                if (productId === 0 || productId === null || productId === '') {
                    alert("É necessário selecionar um produto.");
                    $("#btnSave").prop("disabled", false);
                    return false;
                }

                var totalValue = getValue("#totalValue") / 100.00;
                if (totalValue <= 0) {
                    alert("É necessário colocar um valor maior que R$ 0,00.");
                    $("#btnSave").prop("disabled", false);
                    return false;
                }

                var form = {
                    'id': $('#entityId').val(),
                    'ClientId': $("#selectClientId").val(),
                    'ProductId': $("#selectProductId").val(),
                    'TotalValue': totalValue
                };

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Action")',
                    data: {
                        'model': form
                    },
                    success: function(data) {
                        if (data.error) {
                            alert("Erro! - " + data.message);
                            $("#btnSave").prop("disabled", false);
                        } else {
                            alert("Sucesso! - " + data.message);
                            $(location).attr('href', '@Url.Action("Table")');
                        }

                    },
                    error: function(data) {
                        alert("Houve um erro.");
                        $("#btnSave").prop("disabled", false);
                    },
                    dataType: "json"
                });

                return false;
            });
        });

    </script>
}