﻿@{
    ViewData["Title"] = "Lista de Pedidos";
}

@section Scripts
{
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            function loadTable() {

                $("#table").dataTable({
                    "processing": true,
                    "serverSide": true,
                    "orderMulti": false,
                    "language": language,
                    "order": [[0, "asc"]],
                    "ajax": {
                        "url": "order/getTable",
                        "type": "POST",
                        "dataType": "json"
                    },
                    "columnDefs":
                    [
                        {
                            "visible": false,
                            "searchable": false
                        }
                    ],
                    "columns": [
                        { "data": "id", "name": "Id", "width": "auto" },
                        { "data": "client.name", "name": "Client.Name", "width": "auto" },
                        { "data": "product.name", "name": "Product.Name", "width": "auto", "className": "text-center" },
                        { "data": "totalValue", "name": "Total", "width": "auto", "className": "text-center" },
                        {
                            "width": "8%",
                            "orderable": false,
                            "className": "text-center",
                            "render": function(data, type, full, meta) {
                                return '<a href="@Url.Action("Item")?id=' +
                                    full.id +
                                    '" class="edit btn btn-info btn-rounded fa fa-edit "></a>';
                            }
                        }
                    ]
                });


            };

            loadTable();

        });
    </script>
}

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="largeModalLabel">Pedidos</h5>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <div class="col-md-10">
                    <strong>Lista de Pedidos</strong>
                </div>
                <div class="col-md-2" style="text-align: right">
                    <a class="btn btn-info btn-rounded fa fa-check-square" href="@Url.Action("Item")"> Novo Pedido </a>
                </div>
            </div>
            <div class="card-body">
                <table id="table" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Código</th>
                        <th>Cliente</th>
                        <th>Produto</th>
                        <th>Valor</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>