﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

div.dataTables_paginate{
    float: none !important;
}

.card-header {
    margin-bottom: 10px;
}

.modal-header{
    background-color: cornflowerblue;
}

.modal-title{
    font-size: 32px;
    font-style: italic;
}

#table_filter input {
    margin-left: 10px;
}

.col-md-10{
    font-size: large;
}

.paginate_button {
    padding-right: 10px;
}

.dataTables_info{
    padding-bottom: 10px;
}

.fa-check-square{
    margin-bottom: 10px;
}

#btnBack{
    background-color: tomato;
    color: aliceblue;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
